@import "tailwindcss";
@plugin "daisyui";

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1128%26quot%3b)' fill='none'%3e%3cpath d='M -469.6579076158545%2c25 C -373.66%2c82.6 -181.66%2c285.8 10.342092384145474%2c313 C 202.34%2c340.2 298.34%2c154.6 490.3420923841455%2c161 C 682.34%2c167.4 778.34%2c368.2 970.3420923841454%2c345 C 1162.34%2c321.8 1356.41%2c45.6 1450.3420923841454%2c45 C 1544.27%2c44.4 1442.07%2c282.6 1440%2c342' stroke='rgba(25%2c 137%2c 253%2c 0.13)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -205.09800825802716%2c112 C -109.1%2c191.8 82.9%2c506 274.90199174197284%2c511 C 466.9%2c516 562.9%2c164.8 754.9019917419728%2c137 C 946.9%2c109.2 1042.9%2c369.8 1234.9019917419728%2c372 C 1426.9%2c374.2 1673.88%2c130.2 1714.9019917419728%2c148 C 1755.92%2c165.8 1494.98%2c398.4 1440%2c461' stroke='rgba(25%2c 137%2c 253%2c 0.13)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -247.34023471669894%2c94 C -151.34%2c156.8 40.66%2c396.2 232.65976528330106%2c408 C 424.66%2c419.8 520.66%2c174.8 712.6597652833011%2c153 C 904.66%2c131.2 1000.66%2c294 1192.659765283301%2c299 C 1384.66%2c304 1623.19%2c178.2 1672.659765283301%2c178 C 1722.13%2c177.8 1486.53%2c274 1440%2c298' stroke='rgba(25%2c 137%2c 253%2c 0.13)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -863.2315992310507%2c222 C -767.23%2c283 -575.23%2c558.6 -383.2315992310508%2c527 C -191.23%2c495.4 -95.23%2c101.6 96.76840076894922%2c64 C 288.77%2c26.4 384.77%2c301.4 576.7684007689493%2c339 C 768.77%2c376.6 884.12%2c218.4 1056.7684007689493%2c252 C 1229.41%2c285.6 1363.35%2c456 1440%2c507' stroke='rgba(25%2c 137%2c 253%2c 0.13)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -770.1769896550361%2c22 C -674.18%2c110.4 -482.18%2c413.6 -290.1769896550361%2c464 C -98.18%2c514.4 -2.18%2c299.8 189.8230103449639%2c274 C 381.82%2c248.2 477.82%2c352.6 669.8230103449639%2c335 C 861.82%2c317.4 995.79%2c182.2 1149.823010344964%2c186 C 1303.86%2c189.8 1381.96%2c320.4 1440%2c354' stroke='rgba(25%2c 137%2c 253%2c 0.13)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1128'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: hsl(212, 53%, 52%);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: hsl(243, 78%, 56%);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: hsl(227, 65%, 54%);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.041 260.031);
  --color-base-200: oklch(37% 0.034 259.733);
  --color-base-300: oklch(44% 0.017 285.786);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: hsl(212, 53%, 52%);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: hsl(243, 78%, 56%);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: hsl(227, 65%, 54%);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(12% 0.042 264.695);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

.section-title {
  @apply text-3xl font-bold;
}
